In [1]:
from functions.helpers import *
import numpy as np
import pandas as pd

In [15]:
# Import df
df = pd.read_csv("data/dataset/x_train.csv")

KeyboardInterrupt:

In [16]:
df.columns

Index(['Id', '_STATE', 'FMONTH', 'IDATE', 'IMONTH', 'IDAY', 'IYEAR',
       'DISPCODE', 'SEQNO', '_PSU',
       ...
       '_PAREC1', '_PASTAE1', '_LMTACT1', '_LMTWRK1', '_LMTSCL1', '_RFSEAT2',
       '_RFSEAT3', '_FLSHOT6', '_PNEUMO2', '_AIDTST3'],
      dtype='object', length=322)

In [45]:
CV = [ #calculated variables
    "ACTIN11_", "ACTIN21_", "DROCDY3_", "FC60_", "FRUTDA1_", "_FRTRESP", "_FRUITEX", "_FRUTSUM", 
    "_HCVU651", "_HISPANC", "_INCOMG", "_LLCPWT", "_LMTACT1", "_LMTSCL1", "_LMTWRK1", "_LTASTH1",
    "_MINAC11", "_MINAC21", "_MISFRTN", "_MISVEGN", "_MRACE1", "_PA30021", "_PA150R2", 
    "_PA300R2", "_PACAT1", "_PAINDX1", "_PAREC1", "_PASTAE1", "_PASTRNG", "_PNEUMO2", "_PRACE1", 
    "_RACE", "_RACEG21", "_RACEGR3", "_RACE_G1", "_RFBING5", "_RFBMI5", "_RFCHOL", "_RFDRHV5", 
    "_RFHLTH", "_RFHYPE5", "_RFSEAT2", "_RFSEAT3", "_RFSMOK3", "_SMOKER3", "_TOTINDA", "_VEG23", 
    "_VEGESUM", "_VEGETEX", "_VEGLT1", "GRENDAY_", "MAXVO2_", "METVL11_", 
    "METVL21_", "ORNGDAY_", "PA1MIN_", "PA1VIGM_", "PADUR1_", "PADUR2_", "PAFREQ1_", "PAFREQ2_",
    "PAMIN11_", "PAMIN21_", "PAMISS1_", "PAVIG11_", "PAVIG21_", "VEGEDA1_", "_AGE80", 
    "_AGE65YR", "_AGEG5YR", "_AGE_G", "_AIDTST3", "_ASTHMS1", "_BMI5", "_BMI5CAT", "_CASTHM1", 
    "_CHLDCNT", "_CHOLCHK", "_DRDXAR1", "_DRNKWEK", "_DUALCOR", "_DUALUSE", "_EDUCAG", "_FLSHOT6", 
    "_FRT16", "_FRTLT1"
]
# not present in out dataset: '_MICHD', '_VEGRESPFTJUDA1_', 'PAINACT2'

print(len(CV))

# TODO: Maybe add other cols that could be useful
other_usefull_cols = ["Id"]

useful_cols = np.concat([other_usefull_cols, CV])

# Select usduful cols
df_filtered = df[useful_cols]
len(df_filtered.columns)

df_filtered

86

,Id,ACTIN11_,ACTIN21_,DROCDY3_,FC60_,FRUTDA1_,_FRTRESP,_FRUITEX,_FRUTSUM,_HCVU651,...,_CHLDCNT,_CHOLCHK,_DRDXAR1,_DRNKWEK,_DUALCOR,_DUALUSE,_EDUCAG,_FLSHOT6,_FRT16,_FRTLT1
0,0,1.0,1.0,0,4.61,0.71,1,0,0.71,1,...,1,1,2.0,0,0.233948,2,3,NaN,1,2
1,1,NaN,NaN,100,4.91,NaN,0,1,NaN,1,...,1,1,2.0,99900,0.786572,1,2,NaN,1,9
2,2,1.0,0.0,13,4.11,2.00,1,0,2.03,9,...,1,1,1.0,93,0.669767,1,4,1.0,1,1
3,3,2.0,2.0,0,4.11,0.00,1,0,0.00,9,...,1,2,1.0,0,NaN,9,2,2.0,1,2
4,4,NaN,NaN,900,999.00,0.50,1,0,1.50,9,...,1,1,2.0,99900,0.920562,1,9,9.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328130,328130,1.0,1.0,71,4.91,1.00,1,0,1.00,1,...,1,1,2.0,1000,NaN,9,4,NaN,1,1
328131,328131,2.0,2.0,0,5.10,1.00,1,0,1.00,1,...,1,9,2.0,0,NaN,9,3,NaN,1,1
328132,328132,1.0,0.0,0,3.92,1.00,1,0,1.00,9,...,1,1,2.0,0,0.807906,1,3,2.0,1,1
328133,328133,2.0,0.0,0,6.23,0.07,1,0,0.07,1,...,1,1,2.0,0,0.786572,1,2,NaN,1,2
328134,328134,1.0,0.0,0,4.99,3.00,1,0,4.00,1,...,2,1,1.0,0,0.779554,1,4,NaN,1,1

In [ ]:
# Sinfle column wrangling
# https://www.cdc.gov/brfss/annual_data/2015/pdf/2015_Calculated_Variables_Version4_08_10_17-508c.pdf
# - change vlaues that mean "Missing/Refused" with "NaN"
# - check if the vairbale is cat or continuous
2-30, 31-59, 59

In [47]:
# REMOVE COLS WITH TOO MANY NAN
thr_nan = 0.75
# Set the threshold for the percentage of non-NaN values (25% non-NaN)
threshold = len(df_filtered) * thr_nan # calculates the threshold for how many non-NaN values a column must have 
df_filtered = df_filtered.dropna(thresh=threshold, axis=1)
len(df_filtered.columns)

68

In [ ]:
# REMOVE PATIENTS WITH TOO MANY NaN

In [ ]:
# IMPUTE MISSING VALUES

# We have ONLY categorical values

# Impute missing values with the column mean for numerical data
#df['numeric_column'].fillna(df['numeric_column'].mean(), inplace=True)

# Impute missing values with the mode for categorical data
#df['categorical_column'].fillna(df['categorical_column'].mode()[0], inplace=True)

In [ ]:
# NORMALIZATION
# only normalise conturnons varibales